<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>Product Review</title>
    {% load static %}
    <link crossorigin="anonymous" rel="stylesheet" href="{% static 'css/rating.css' %}"
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8">
            <div class="row mt-5">
                <div class="col-12 pb-3 product-title"> {{ product_title }} </div>
            </div>
            <div class="row">
                <div class="col-2 average-rating"> {{ average_rating }} </div>
                <div class="col-6">
                    {% for s in "12345" %}
                        {%  if s <= average_rating|floatformat:"0" %}
                            <span class="fa fa-star star-rating fa-star-ochre"></span>
                        {%  else %}
                            <span class="fa fa-star star-rating fa-star-grey"></span>
                        {%  endif %}
                    {% endfor %}
                </div>
                <div class="col-4 text-right pt-2">
                    <button class="btn btn-outline-dark btn-lg button-style" data-target="#reviewModal" data-toggle="modal" type="button">
                        <span class="button-label"> Add Review </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-1 col-md-2"></div>
        <div class="col-sm-10 col-md-8">
            <hr class="hr"/>
            <h3 class="pt-4 pb-2 reviews-display">Reviews</h3>
            {% if product_review_list %}
                <ul class="pl-0">
                {%  for r in product_review_list %}
                    {% for s in "12345" %}
                        {%  if s|add:"0" <= r.rating %}
                            <span class="fa fa-star fa-star-ochre star-rating"></span>
                        {%  else %}
                            <span class="fa fa-star fa-star-grey star-rating"></span>
                        {%  endif %}
                    {% endfor %}
                    <span class="pl-3 review-desc"><strong>{{ r.rating }}</strong></span>
                    <span class="review-desc">, {{ r.review }}</span><br/>
                {%  endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-1 col-md-2"></div>
    </div>
</div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="reviewModalLabel" class="modal"
     id="reviewModal" role="dialog" tabindex="-1">
    <div class="modal-dialog mw-100 w-50" role="document">
        <form action="{% url 'review' 1 %}" method="post">
            {% csrf_token %}
            <div class="modal-content modal-radius">
                <div class="modal-body ml-4 product-title">
                    <span class="" id="reviewModalLabel">What's your rating?</span>
                    <div class="form-group">
                        <!-- Ack: https://codepen.io/alisuarez/pen/RWGNLm -->
                        <label for="ratedStars" class="modal-sub-title">Rating</label>
                        <div class="star-rating my-3">
                            {% for s in "12345" %}
                            <span class="fa fa-star fa-star-grey" data-rating={{s}}></span>
                            {% endfor %}
                            <input class="rating-value" id="ratedStars" name="ratedStars"
                                   type="hidden" value="0">
                        </div>
                        <div class="form-group my-5">
                            <label for="reviewText" class="modal-sub-title">Review</label>
                            <textarea placeholder="Start typing..." style="border: none" class="form-control pl-0" id="reviewText" name="reviewText" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ml-4 pb-5" style="border-top: none">
                    <button class="btn btn-outline-dark mr-auto button-style" type="submit">Submit review</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    let $star_rating = $('.star-rating .fa');
    let rating_set = 0;
    let SetRatingStar = function () {
        return $star_rating.each(function () {
            if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                return $(this).removeClass('fa-star-grey').addClass('fa-star-ochre');
            } else {
                return $(this).removeClass('fa-star-ochre').addClass('fa-star-grey');
            }
        });
    };

    $star_rating.on('click', function () {
        rating_set = parseInt($(this).data('rating'));
        console.log("rating clicked: ", rating_set);
        $star_rating.siblings('input.rating-value').val($(this).data('rating'));
        return SetRatingStar();
    });

    SetRatingStar();
</script>
</body></html>