<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>Product Review</title>
    {% load static %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1 col-md-2">
        </div>
        <div class="col-sm-10 col-md-8">
            <div class="row">
                <h1>The Minimalist Entrepreneur</h1>
            </div>
            <div class="row">
                <div class="col-1">
                    <h2>3.8</h2>
                </div>
                <div class="col-8"></div>
                <div class="col-3">
                    <button class="btn btn-light" data-target="#reviewModal" data-toggle="modal" type="button">
                        Add Review
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2">
        </div>
    </div>
</div>
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="reviewModalLabel" class="modal"
     id="reviewModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <form action="{% url 'review' 1 %}" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewModalLabel">What's your rating?</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Ack: https://codepen.io/alisuarez/pen/RWGNLm -->
                        <label for="ratedStars">Rating</label>
                        <div class="star-rating">
                            {% for s in "12345" %}
                            <span class="fa fa-star-o" data-rating={{s}}></span>
                            {% endfor %}
                            <input class="rating-value" id="ratedStars" name="ratedStars"
                                   type="hidden" value="0">
                        </div>
                        <div class="form-group">
                            <label for="reviewText">Review</label>
                            <textarea class="form-control" id="reviewText" name="reviewText" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<script>
    let $star_rating = $('.star-rating .fa');
    let rating_set = 0;
    let SetRatingStar = function () {
        return $star_rating.each(function () {
            if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                return $(this).removeClass('fa-star-o').addClass('fa-star');
            } else {
                return $(this).removeClass('fa-star').addClass('fa-star-o');
            }
        });
    };

    $star_rating.on('click', function () {
        rating_set = parseInt($(this).data('rating'));
        console.log("rating clicked: ", rating_set);
        $star_rating.siblings('input.rating-value').val($(this).data('rating'));
        return SetRatingStar();
    });

    SetRatingStar();
    $(document).ready(function () {
    });
</script>
</body>
</html>